#hide bot token
token.txt

#hide logo purchase link
logo_purchase.txt

#hide translation requests
requests.txt

#hide discord.py version of bot
main(deprecated).py

#hide bot invite link
oauth2.txt

#hide dev tools
devtools

#hide ssl info
privkey.pem
cert.pem

#hide logs
http.log
bot.log

#hide restful version of web app
restful-version.txt