#hide bot token
token.txt

#hide bot owner id
owner_id.txt

#hide logo purchase link
logo_purchase.txt

#hide python library list
python_libraries.txt

#hide translation requests
requests.txt

#hide discord.py version of bot
main(deprecated).py

#hide bot invite link
oauth2.txt